body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    
}

.logo{
    width: 15%;
}

body{
    background: radial-gradient(circle, #d3d3d3, #ebdcf5); /* Degradado circular */
}
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(158, 158, 158, 0.247);
    padding: 1rem 2rem 1rem 1rem;
    color: #fff;
}

.topBar ul {
    list-style: none;
    display: inline;
    margin: 0 1rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}