body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    
}

.logo{
    width: 15%;
}

body{
    background: radial-gradient(circle, #d3d3d3, #ebdcf5); /* Degradado circular */
    
}
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(158, 158, 158, 0.247);
    padding: 1rem 2rem 1rem 1rem;
    color: #fff;
}

.topBar ul {
    list-style: none;
    display: inline;
    margin: 0 1rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.general{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.presentation-container {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin-left: 10%;
    border: 2px solid white;
    animation: glow 1.5s infinite alternate;
}
.content {
    flex: 1;
    padding: 20px;
}
.content h1 {
    margin-top: 0;
    font-size: 2.5em;
    color: #6f00ff;
}
.content p {
    margin: 10px 0;
    font-size: 1.2em;
    line-height: 1.6;
}
.start-button {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ae00ff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-button:hover {
    background-color: #8400ff;
}
.imgcontent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcontent2 {
    max-width: 100%;
    border-radius: 15px;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(131, 1, 253, 0.205);
    }
}